<%= form_with(model: liability) do |form| %>
  <% if liability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liability.errors.count, "error") %> prohibited this liability from being saved:</h2>

      <ul>
        <% liability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :name, class: 'fw-bold' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-control">
    <%= form.label :description, class: 'fw-bold' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-control">
    <%= form.label :debt, class: 'fw-bold' %>
    <%= form.text_field :debt, class: 'form-control' %>
  </div>

  <div class="form-control">
    <%= form.label :payment, class: 'fw-bold' %>
    <%= form.text_field :payment, class: 'form-control' %>
  </div>

  <div class="form-control">
    <%= form.label :departure_date, class: 'fw-bold' %>
    <%= form.date_select :departure_date, class: 'form-control' %>
  </div>

  <div class="form-control">
    <%= form.label :frequency, class: 'fw-bold' %>
    <%= form.select :frequency, ['YEARLY', 'MONTHLY', 'WEEKLY', 'DAILY'], {:include_blank => true}, {class: "form-control"} %>
  </div>

  <div class="form-control">
    <%= form.label :category, class: 'fw-bold' %>
    <%= form.collection_select :category_id, current_user.categories.where(is_asset: false), :id, :title, {:include_blank => true}, {class: "form-control"} %>
  </div>

  <%= form.hidden_field :user_id, value: current_user&.id %>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
