<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @liability.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @liability.description %>
</p>

<p>
  <strong>Debt:</strong>
  <%= @liability.debt %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @liability.payment %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @liability.departure_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @liability.user_id %>
</p>

<%= link_to 'Edit', edit_liability_path(@liability) %> |
<%= link_to 'Back', liabilities_path %>
